.input-wrapper{
  margin-bottom: 0.9rem;
}

.label-input {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.custom-input {
  /* border-width: 0;
  border-bottom-width: 0.1px;
  width: 100%;
  padding: 0.5rem 0rem;

  transition: all 0.3s ease;
  opacity: 0.8; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  /* margin-bottom: 10px; */
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 0.8rem;
  transition: all 0.4s ease;
}

.custom-input:focus {
  opacity: 1;
  outline: none;
  transform: translate(3px);
  border-color: var(--theme);
}

.custom-input::placeholder{
    color: gray;
}