.btn {
    font-size: 0.8rem;
  color: var(--theme);
  text-align: center;
  margin: 1rem 0rem;
  padding: 0.5rem;
  background-color: var(--white);
  border: 1px solid var(--theme);
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: auto !important;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--theme);
  color: var(--white);
}

.btn-blue {
  background-color: var(--theme);
  color: var(--white);
}
.btn-blue:hover{
background-color: var(--white);
color: var(--theme);
}

.btn-1{
  background: linear-gradient(67.6deg, rgb(225, 242, 254) -2.8%, rgb(193, 224, 250) 44.6%, rgb(19, 116, 197) 102.4%);
}