
.signup-wrapper{
    width: 70%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}

.title{
    font-weight:600;
    font-size: 1.3rem;
    text-align: center;
}

.p-login{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    cursor: pointer;
}